@font-face {
    font-family: "Ms-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Ms-Light";
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "Ms-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Ms-ExtraBold";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}