$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$text-color: #5845;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

header {
  position: absolute;
  width: 100%;
  z-index: 10;

  nav{
    background-color: transparent;
    ul{
      text-align: center !important;
    }
  }

  img {
    width: 80px;
  }
}

#presentation-section{
  h1{
    text-align: center;
  }
}


