@import './fonts.scss';
@import './main.scss';
@import './layout/home.scss';

body {
  font: 100% $font-stack;
}

h1{
  font-family: "Ms-ExtraBold";
}

h2{
  font-family: "Ms-Bold";
}

p{
  font-family: "Ms-Light";
}

a{
  font-family: "Ms-Regular";
}

.btn{
  background-color: $primary-color;
  font-family: "Ms-Bold"
}

.sidenav-overlay{
  z-index: 0;
}

footer{
  border-top: 4px solid $primary-color;
  text-align: center;
  li {
    display: inline;
  }  
  a {
    margin-right: 2em;
    text-decoration: none;
    color: $primary-color;
    font-family: "Ms-Bold";
  }
  #copyright{
    text-align: center;
    background-color: black;
    color: white;
    padding: 2vh;
  }
}

@media all and (max-width: 600px){
  h1{
    font-size: 2.2rem;
  }
  footer{
    li{
      margin-right: 0;
      display: block;
      margin-top: 1em;
    }
  }
}



