body{
    font:none;
}
#about-section{
    padding: 5em;
    color: white;
    background-color: $secondary-color;
    figure{
        padding: 0;
    }
    label{
        font-family: 'Ms-ExtraBold';
        color: black;
    }
    .filled-in{
        background-color: #DB5A21;
    }
    input{
        border-bottom: 1px solid $primary-color;
    }
    .valign-wrapper{
        border-top: 8px solid #DB5A21;
        border-bottom: 8px solid #DB5A21;
        padding-bottom: 2em;
        padding-top: 1.5em;
    }
    h1{
        margin: 0;
        text-align: center;
        padding-bottom: 0.5em;
    }
    h2{
        margin-top:0;
        font-size: 2.56em;
    }
    p{
        text-align: justify;
    }
    img{
        width: 100%;
    }
}

#staff-section{
    padding: 5em;
    color: white;
    background-color: $primary-color;
    h1{
        margin: 0;
        text-align: center;
        padding-bottom: 0.5em;
    }
    .single-staff-item{
        padding: 1em;
        text-align: center;
        img{
            border-radius: 50%;
            border: 10px solid $secondary-color;    
        }
        
    }
}

  /* MEDIA QUERIES */

  @media all and (max-width: 600px)
  {
    #about-section{
        padding: 0;
        padding-bottom: 2em;
        h2{
            font-size: 1.90em;
        }
    }
    .valign-wrapper{
        display: block;
    }
  }