#img-fixed-article{
    height: 260px;
    position: relative;
    height: 50em;
    img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

#article-section{
    background-color: $secondary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    .row{
        border-top: 8px solid #DB5A21;
        border-bottom: 8px solid #DB5A21;
        text-align: center;
    }
    h1{
        color: white;
        padding-bottom: 2vh;
        text-align: center;
    }
    img{
        width: 80%;
    }
    a{
        display: flex;
    }
    p{
        font-family:"Ms-Regular";
        color: white;
        text-align: justify;;
    }
}

@media all and (max-width: 600px)
{
    #img-fixed-article{
        height: auto;
    }
}