#img-fixed-article{
    height: 260px;
    position: relative;
    height: 50em;
    border-bottom: 8px solid #DB5A21;
    img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

#article-section{
    background-color: $secondary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    .row{
        border-top: 8px solid #DB5A21;
        border-bottom: 8px solid #DB5A21;
        text-align: center;
    }
    h1{
        color: white;
        padding-bottom: 2vh;
        text-align: center;
    }
    img{
        width: 80%;
    }
    a{
        display: flex;
    }
    .btn:hover{
        background-color: #ac4a1f;
    }
    p{
        font-family:"Ms-Regular";
        color: white;
        text-align: justify;;
    }
}

@media all and (max-width: 600px)
{
    #img-fixed-article{
        height: 100%;
    }
}

@media all and (max-width: 450px)
{
    #img-fixed-article{
        height: 100%;
    }
    .left-button{
        margin-top: 15px;
        float: none !important;
    }
    .right-button{
        margin-top: 15px;
        float: none !important;
    }
}

@media all and (max-width: 992px)
{
    #img-fixed-article{
        height: 100%;
    }
}

@media all and (max-width: 1200px)
{
    #img-fixed-article{
        height: 100%;
    }
}