.checkbox-color[type="checkbox"].filled-in:checked + span:after{
    border: 1px solid $primary-color;
    background-color: $primary-color;
}

textarea.materialize-textarea{
    border-bottom: 1px solid $primary-color;
}

textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid black;
    box-shadow: 0 1px 0 0 black;
}

@media all and (max-width: 992px){
    .form-section{
         
        .valign-wrapper{
                display: block !important;
        }
        
    }
}
