header {
    position: absolute;
    width: 100%;
    z-index: 10;
    font-family: "Ms-Bold" !important;
    nav{
      background-color: transparent;
      ul{
        text-align: center !important;
      }
    }
  
    img {
      width: 80px;
    }
  }
  
  #presentation-section{
    background-color: $secondary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    h1{
      color: white;
      padding-bottom: 2vh;
      text-align: center;
    }
    h2{
      color: white;
      margin: 0;
    }
    p{
      color: white;
      text-align: justify;
    }
  }
  
  #movies-section{
    background-color: $primary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    h1{
      color: white;
      text-align: center;
    }
    #carousel-movie{
        height: 450px;
        .carousel-item{
            top: -70px;
        }
    }
    .card{
      .card-content{
        text-align: center;
      }
      
    }
  }
  
  #news-section{
    background-color: $secondary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    h1{
      color: white;
      padding-bottom: 2vh;
      text-align: center;
    }
    .button-row{
      text-align: center;
    }
  }

 