header {
    position: absolute;
    width: 100%;
    z-index: 10;
    font-family: "Ms-Bold" !important;
    nav{
      background-color: transparent;
      ul{
        text-align: center !important;
      }
    }
  
    img {
      width: 80px;
    }
  }
  
  #presentation-section{
    background-color: $secondary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    .valign-wrapper{
      padding-top: 13px;
      padding-bottom: 25px;
      border-top: 8px solid #DB5A21;
      border-bottom: 8px solid #DB5A21;
    }
    h1{
      color: white;
      padding-bottom: 2vh;
      text-align: center;
    }
    h2{
      color: white;
      margin: 0;
    }
    p{
      color: white;
      text-align: justify;
    }
    .btn:hover{
      background-color: #ac4a1f;
    }
  }
  
  #movies-section{
    background-color: $primary-color;
    padding: 2vh;
    padding-bottom: 10vh;
    .btn:hover{
      background-color: #ac4a1f;
    }
    h1{
      color: white;
      text-align: center;
    }
    #carousel-movie{
      border-top: 8px solid white;
      height: 450px;
      .card-image{
        .card-title{
          font-size: 20px;
        }
      }
      .carousel-item{
        top: -70px;
      }
      .card-title{
        width: 100%;
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
      .card-reveal{
        .card-title{
          background-color: white;
        }
      }
    }
    .card{
      .card-content{
        text-align: center;
      }
      
    }
  }
  
  #news-section{
    background-color: $secondary-color;
    padding: 2vh;
    padding-bottom: 10vh;
     
    .card-image{
      max-height: 11em;
      overflow: hidden;
      position: relative;
    }
    .card-action{
      text-align: center;
    }
    h1{
      color: white;
      padding-bottom: 2vh;
      text-align: center;
    }
    .button-row{
      text-align: center;
    }
    .btn:hover{
      background-color: #ac4a1f;
    }
  }

  /* MEDIA QUERIES */

  @media only screen and (max-width: 1024px){
    #news-section{
      .card-image{
        max-height: 400px;
      }
    }
  }

@media all and (max-width: 600px)
{
  header{
    width: 100%;
    background-color: #DB5A21 ;
    position: relative;
  }
  #presentation-section{
    .valign-wrapper{
      display: block;
    }
  }

  #news-section{
    .card-image{
      height: auto;
    }
  }
  
}

 